<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Are you want to delete</h1>

<form th:object="book" >

    <label>Author</label>
    <label th:text="${book.author}"></label>

<!--<table>-->
<!--    <tr>-->
<!--        <td>Author</td>-->
<!--        <td><input th:text="${book.author}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Name</td>-->
<!--        <td><input th:text="${book.name}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Price</td>-->
<!--        <td><input th:text="${book.price}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Category</td>-->
<!--        <td><input th:text="${book.category.name}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>-->
<!--            <input type="submit" value="delete">-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->
</form>
</body>
</html>